You must, in your root, make
	name.txt -> it must be the name you report to be
	run.sh -> run your team
	
Your name must not!
	 Be the same as someOne else.
	 name your bot #fail#, #tester#, #byegame#
	 	  giving your bot such a name will disquilfy it!